/* remove hyperlink underline */
.navbar a {
    text-decoration: none;
    color: darkseagreen;
}
/* logo sizing */
.image {
    width: 15rem !important;
}
/* image sizing projects */
.portfolio img, .lifechoices img {
    width: 7rem;
}
/* project images appear linear */
.projects {
    display: flex;
    justify-content: space-between;
}
/* skillbar animation */
@keyframes fill-animation1 {
    from{left:1%;}
    to{width: 90%;}
}
@keyframes fill-animation2 {
    from{left:1%;}
    to{width: 65%;}
}
@keyframes fill-animation3 {
    from{left:1%;}
    to{width: 80%;}
}
.skillbar {
    background-color: black;
    height: 25px;
    border-radius: 10px;
}
.HTML5 {
    color: rgb(255, 255, 255);
    background-color: darkcyan;
    border-radius: 10px;
    animation: fill-animation1 5s forwards infinite;
    width: 10%;
}
.CSS {
    color: rgb(255, 255, 255);
    background-color: lightcoral;
    border-radius: 10px;
    animation: fill-animation2 5s forwards infinite;
    width: 10%;
}
.Bootstrap {
    color: rgb(255, 255, 255);
    background-color: darkorchid;
    border-radius: 10px;
    animation: fill-animation3 5s forwards infinite;
    width: 10%;
}